:root{
    
    /* Background Color */
    --bg-white:#fff;
    --bg-black:#2C2C2C;
    --bg-light-pink:#992a93;
    --bg-light-gray:#f6f9fe;
    --bg-gradient:linear-gradient(to top, #992a93 0%, rgb(170, 80, 154) 100%);
    --bg-card-shodow:0 0.188rem 1.25rem 0px rgba(0, 0, 0,0.06);
    --bg-card-shodow:0 2rem 5rem rgb(0,0,0,0.06); 
    --bg-light-gray-1:#eee; 


    /* Text Color */
    --primary-font:"Poppins", sans-serif;;
    --text-white:#fff;
    --text-black:#2C2C2C;
    --text-light-black:#444;
    --text-light-pink:#992a93;
    --text-light-gray:#7e8085;
}

@media (max-width: 1030px){
/*  ================================================
:: 8.0 Features CSS
    ================================================ */
    .margin_top_up{
        margin-top: -0.5rem;
    }

}

@media (max-width: 991px){

    /*  ================================================
    :: 3.0 COMMON CSS
    ================================================ */

    h1, h2{
        font-size: 2.5rem;
    }

    .ipad_px_30{
        padding: 0 1.875rem;
    }

    /*  ================================================
    :: 4.0 HEADER CSS
    ================================================ */
    .navbar{
        padding-top: 0.625rem;
        padding-bottom: 0.75rem;
    }

    .navbar-brand{
        width: 50%;
    }

    .navbar-brand img{
        max-width: 60%;
    }

    .navbar-toggler{
        padding-right: 0;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }

    .navbar-toggler-icon{
        color: var(--text-white);
        width: 1em;
        height: 1em;
    }

    .navbar-sticky-on .navbar-toggler-icon{
        color: var(--text-black);
    }

    .navbar .navbar-nav{
        background: var(--bg-white);
        border-radius: 0.188rem;
        text-align: center;
    }

    .navbar .navbar-nav .nav-link{
        padding: 0.625rem 1.5rem;
        color: var(--text-light-gray);
    }
    /*  ================================================
    :: 5.0 HOME CSS
    ================================================ */

    #home{
        padding-top: 7rem;
    }

    #home .row{
        flex-direction: column-reverse;
    }

    #home .home_text{
        text-align: center;
        margin-bottom: 2rem;
    }

    #home .home-download-btn{
        justify-content: center;
    }

    .home-image{
        text-align: center;
    }

    .home-image img{
        max-width: 60%;
    }


    /*  ================================================
    :: 10.0 pricing CSS
    ================================================ */
    .single_price{
        margin-bottom: 2.5rem;
        
    }
}

@media (max-width: 767px){
    /*  ================================================
    :: 3.0 COMMON CSS
    ================================================ */

    .mobile_px_20 {
        padding: 0 1.25rem;
    }

    /*  ================================================
    :: 5.0 HOME CSS
    ================================================ */
    #home{
        padding-top: 5rem;
    }

    #home .home_text h2{
        font-size: 2.438rem;
        line-height: 3.938rem;
    }

    #home .home-download-btn .btn{
        margin: 0;
    }

    @media (max-width: 767px) {
        .home-img {
            transform: rotate(0deg);
        }
    }
    /*  ================================================
    :: 6.0 Counter CSS
    ================================================ */
    .single_counter:nth-child(2):after{
        display: none;
    }

    /*  ================================================
    :: 8.0 Features CSS
    ================================================ */

    .mobile_px_20{
        padding: 0 1.25rem;
    }

    .margin_top_up{
        margin-top: 0rem;
    }

    .features_middle{
        text-align: center;
    }

    .feature_image{
        text-align: center;
        padding-top: 1.5rem;
    }

    .feature_image img{
        max-width: 90%;
    }
}

